<div class="col-sm-12 col-md-12 main">
  <h1 class="page-header">Find your perfect gym in Hong Kong</h1>
  <div class="row placeholders">
    <div class="col-xs-6 col-sm-3 placeholder">
      <%= image_tag("group-of-people-doing-aerobics.png", class: "img-responsive", alt: "group of people doing aerobics") %>
      <h4>Group Classes</h4>
    </div>
    <div class="col-xs-6 col-sm-3 placeholder">
      <%= image_tag("woman-with-her-personal-trainer.png", class: "img-responsive", alt: "woman with her personal trainer") %>
      <h4>Personal Training</h4>
    </div>
    <div class="col-xs-6 col-sm-3 placeholder">
      <%= image_tag("gym-people-in-a-yoga-class.png", class: "img-responsive", alt: "people in yoga class") %>
      <h4>Yoga</h4>
    </div>
    <div class="col-xs-6 col-sm-3 placeholder">
      <%= image_tag("man-lifting-weights.png", class: "img-responsive", alt: "man lifting weights") %>
      <h4>Weight Lifting</h4>
      <!-- <span class="text-muted">Something else</span> -->
    </div>
  </div>
</div>

<div class="table-responsive">
  <table id="gym-data-table" class="display" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th>Brand</th>
        <th>Branch</th>
        <th>District</th>
        <th>Territory</th>
        <th>Map</th>
      </tr>
    </thead>
    <tfoot>
      <tr>
        <th>Brand</th>
        <th>Branch</th>
        <th>District</th>
        <th>Territory</th>
        <th>Map</th>
      </tr>
    </tfoot>
    <tbody>
      <tr>
        <td>Pure Fitness</td>
        <td>IFC Mall</td>
        <td>Central</td>
        <td>Hong Kong</td>
        <td>[link to map]</td>
      </tr>
      <tr>
        <td>Fitness First</td>
        <td>Hopewell Centre</td>
        <td>Wan Chai</td>
        <td>Hong Kong</td>
        <td>[link to map]</td>
      </tr>
      <tr>
        <td>California Fitness</td>
        <td>The ONE</td>
        <td>Tsim Sha Tsui</td>
        <td>Kowloon</td>
        <td>[link to map]</td>
      </tr>
      <tr>
        <td>Physical Fitness</td>
        <td>Concord Square</td>
        <td>Tsuen Wan</td>
        <td>New Territories</td>
        <td>[link to map]</td>
      </tr>
    </tbody>
  </table>
</div>

