// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.index-div-photos-and-datatable {
  margin-bottom: 10%;
  /*background-color: red;*/
}

.placeholders{
  margin-top: 2%;
}

.placeholder img {
  border-radius: 10%!important;
  border: silver solid 1px!important;
}

.page-header {
  text-align: center;
  font-weight: bold;
}

.fa-plus {
  color: green;
}

.fa-plus:hover {
  color: lime;
}

.plus-icon:hover {
  cursor: pointer;
  cursor: hand;
}

/*tr:hover {
  cursor: pointer;
  cursor: hand;
}*/

.child-row {
  margin-left: 5%;
  margin-right: 5%;
}

/*table.dataTable tbody tr.child-row {
  height: 0;
}*/

/*table.dataTable tbody tr.child-row {
  visibility: collapse;
}*/

.child-row-div {
  /*width: 100%;*/
}

.child-row-schedule-div{
  width: 45%;
  float: left;
}

.child-row-googlemaps-div {
  width: 45%;
  float: right;
}