// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.page-header {
  text-align: center
}
.placeholders{
  margin-bottom: 45px;
}

.placeholder img {
  border-radius: 10%!important;
  border: silver solid 1px!important;
}

.index-photos-table{
  margin-bottom: 45px;
}

.fa-plus {
  color: green;
}

.fa-plus:hover {
  color: lime;
}

.plus-icon:hover {
  cursor: pointer;
  cursor: hand;
}

tr:hover {
  cursor: pointer;
  cursor: hand;
}